<?xml version="1.0"?>

<model>
  <name>PowerPylons</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Oscar Bowen Schofield</name>
    <email>obs@mmmi.sdu.dk</email>
  </author>

  <description>
    A simple prepresentation of power lines 
  </description>
</model>
